/* Общие стили */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a2e; /* Тёмно-матовый синий фон */
    color: #fff;
}

header {
    background-color: #162447;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    color: #fff;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #1f4068;
    border-bottom: 2px solid #e43f5a;
}

.hero h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    color: #dcdcdc;
}

/* Карточки подписок */
.subscriptions {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.subscription-card {
    background-color: #162447;
    border: 1px solid #1f4068;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.subscription-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.subscription-card h2 {
    font-size: 24px;
    color: #e43f5a;
    margin-bottom: 15px;
}

.subscription-card p {
    color: #dcdcdc;
    font-size: 16px;
    margin-bottom: 15px;
}

.subscription-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.subscription-card ul li {
    margin: 10px 0;
    font-size: 14px;
}

.subscription-card button {
    background-color: #e43f5a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscription-card button:hover {
    background-color: #f85f73;
}

/* Футер */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0f3460;
    border-top: 2px solid #e43f5a;
    color: #dcdcdc;
    font-size: 14px;
}
